.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: maroon
}

.modal-content {
  color: rgb(218, 215, 223);
  background-color: rgba(189, 30, 117, 0.6);
  margin: 5%; 
  padding: 13px;
  border: 1px solid #888;
  width: 40%; 
  font-size: 200%;
}

.login-input {
  height: 25px;
  font-size: 50%;
}

/* .login-button {
  width: 40px;
  height: 35px;
  padding: 2px 2px;
  border: none;
} */

body {
  background-color: rgb(27, 184, 223);
}

#favorite-searches-container {
    position: fixed;
    top: 60px;
    left: 0px;
    height: 335px;
    width: 300px;
    border: 1px dotted red;
    overflow-y: scroll;
}

#recent-searches-container {
  position: fixed;
  bottom: 60px;
  left: 0px;
  border: 1px dotted red;
  height: 335px;
  width: 300px;
  overflow-y: scroll;
}

#chart-container {
  position: fixed;
  top: 50px;
  right: 20px;
  border: 1px dotted red;
  width: 1050px;
  height: 500px;
}

#search-form-container {
  position: fixed;
  bottom: 60px;
  right: 20px;
  border: 1px dotted red;
  height: 100px;
  width: 1050px;
}

 